body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.heart {
    --size: 200px;

    background: red;
    width: var(--size);
    height: var(--size);
    position: relative;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.heart::before , .heart::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
    transform: translateY(-50%);
}

.heart::after {
    transform: translate(50%);
}

.heart:hover {
    animation-play-state: paused;
}


@keyframes beat {

    to {
        transform: rotate(-45deg) scale(1.7);
    }
}

.button {
    display: table;
    padding: 1em 2em;
    background: rgb(226, 49, 14);
    color: #fff;
    margin: 1em auto;
    cursor: pointer;
}

.ball {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1em 0;
    /* font-size: 10px; */
    
    transform: translateX(0) rotate(0);
    transition: transform 5s;
}

.animate .ball{
    transform: translateX(calc(100vw - 100%)) rotate(2turn);
}

 .ease {
    transition-timing-function:  ease;
}

 .ease-in {
    transition-timing-function:  ease-in;
}

 .ease-in-out {
    transition-timing-function:  ease-in-out;
}

 .linear {
    transition-timing-function:  linear;
}