body {
    font-size: 2.5em;
    display: flex;
    min-height: 100vh;
}


a {
    text-decoration: none;
    background-color: red;
    color: white;
    display: inline-block;
    margin: auto;
    left: 0;
    position: relative;
    transition: background-color .5s .2S, color .5s .5s, transform .2s, left 4s .4s;
}

p {
    margin: auto;
}

p a:hover {
    background-color: black;
    color: yellow;
    transform: translateY(-20%);
    left: -1000%;
}